coverage/
dist/
node_modules/

# Claude
.claude/
CLAUDE.md

# Java Swing
host-java-swing/.gradle/
host-java-swing/build/

# GTK host
host-gtk/target/

# Windows host
host-windows/bin/
host-windows/obj/
host-windows/publish/
